@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

ul[class]{
  list-style: none;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #2F281E;
}

.text{
  color: #544837;
}

.button{
  background-color: #ff9900;
  color: #fff;
}

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 65px;
  }
  &__menu-wrapper{
    display: flex;
    align-items: center;
  }
  &__menu-list{
    display: flex;
    margin-right: 50px;
  }
  &__menu-item + &__menu-item{
    margin-left: 27px;
  }
  &__menu-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
  }
  &__menu-btn + &__menu-btn{
    margin-left: 14px;
  }
  &__menu-btn{
    padding: 11px 23px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  &__menu-signin{
    border: 1px solid #BCD0E5;
    color: #173A56;
  }
  &__menu-signup{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 14px;
      height: 8px;
      background-color: #c4c4c4;
      top: 24px;
      right: -14px;
    }
  }
}

.superpower{
  margin-bottom: 111px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left{
    max-width: 458px;
  }
  &__title{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 45px;
  }
  &__button{
    text-decoration: none;
    padding: 14.5px 41px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    margin-right: 30px;
  }
  &__video-play{
    padding-left: 27px;
    position: relative;
    color: #FF9900;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    &::before{
      content: '';
      position: absolute;
      width: 17px;
      height: 19px;
      top: 2px;
      left: 0;
      background-image: url('../images/play-btn.svg');
    }
  }
}

.tools{
  padding-bottom: 90px;
  position: relative;
  margin-bottom: 120px;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 389px;
    width: 100%;
    background-image: url('../images/gradient.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__title{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 52px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
  }
  &__item{
    max-width: 240px;
  }
  &__img{
    margin-bottom: 30px;
  }
  &__item-title{
    margin-bottom: 13px;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
  }
  &__item-text{
    font-size: 16px;
    line-height: 26px;
  }
  &__button-box{
    text-align: center;
  }
  &__button{
    text-align: center;
    padding: 14.5px 33px;
    background: #FF9900;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.professionals{
  margin-bottom: 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    margin-right: 104px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__item{
    margin-bottom: 25px;
  }
  &__item:last-child{
    margin-bottom: 0;
  }
  &__item-title{
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
    font-weight: 600;
    margin-bottom: 12px;
  }
}

.managers{
  margin-bottom: 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bg{
    margin-right: 100px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__item{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    padding-left: 65px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 35px;
      height: 35px;
      background-image: url('../images/checkbox.svg');
    }
  }
  &__item:last-child{
    margin-bottom: 0;
  }
}

.marketers{
  margin-bottom: 150px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__item{
    margin-bottom: 25px;
  }
  &__item:last-child{
    margin-bottom: 0;
  }
  &__item-title{
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #2F281E;
  }
}

.team{
  height: 835px;
  background-image: url('../images/team-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  &__wrapper{
    height: 835px;
    position: relative;
  }
  &__content{
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
    padding-top: 230px;
  }
  &__title{
    margin-bottom: 22px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #567592;
    margin-bottom: 45px;
  }
  &__button{
    padding: 15px 30px;
    background: #FF9900;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
  }
  &__item{
    position: absolute;
    transition: all .3s;
    height: 98px;
    width: 98px;
    border-radius: 50%;
    &::after{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 54px;
    }
    &:hover{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__img{
    transition: all .3s;
    height: 98px;
    width: 98px;
    border-radius: 50%;
  }
  &__member1{
    top: 210px;
    left: 20px;
    &::after{
      content: 'I can take care of your pitch';
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 54px;
      background-image: url('../images/team/cloud1.svg');
      width: 274px;
      height: 63px;
      z-index: 2;
      position: inherit;
      top: -40px;
      left: 58px;
    }
  }
  &__member2{
    top: 157px;
    right: 50px;
    &::after{
      content: 'I can help marketing strategy';
      position: inherit;
      width: 281px;
      height: 59px;
      top: -37px;
      right: 60px;
      background-image: url('../images/team/cloud2.svg');
    }
  }
  &__member3{
    bottom: 200px;
    left: 250px;
    &::after{
      content: 'I can design you website';
      position: inherit;
      width: 263px;
      height: 59px;
      top: -42px;
      left: -206px;
      background-image: url('../images/team/cloud3.svg');
    }
  }
  &__member4{
    bottom: 135px;
    right: 350px;
    &::after{
      content: 'I will define the profile of your users';
      position: inherit;
      width: 321px;
      height: 59px;
      top: -43px;
      left: -261px;
      background-image: url('../images/team/cloud4.svg');
    }
  }
  &__member5{
    bottom: 257px;
    right: 0;
    &::after{
      content: 'I can prototype your app';
      position: inherit;
      top: -42px;
      left: -198px;
      width: 240px;
      height: 59px;
      background-image: url('../images/team/cloud5.svg');
    }
  }
}

.articles{
  margin-bottom: 100px;
  &__title{
    margin-bottom: 9px;
  }
  &__text{
    margin-bottom: 55px;
  }
  &__slider{
    gap: 40px;
  }
  &__item{
    max-width: 348px;
    height: 359px;
    margin-bottom: 25px;
  }
  &__item-img{
    margin-bottom: 25px;
  }
  &__item-info{
    margin-bottom: 12px;
  }
  &__item-info span{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #544837;
  }
  &__author{
    text-decoration: none;
    color: #544837;
    transition: all .3s;
    &:hover{
      color: #81796d;
    }
  }
  &__item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    max-width: 294px;
  }
  &__link{
    text-decoration: none;
    color: #2F281E;
    transition: all .3s;
    &:hover{
      color: #FF9900;
    }
  }
}

.slick-track{
  display: flex;
  justify-content: space-between;
}

.slick-dots{
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.slick-dots li + li{
  margin-left: 10px;
}

.slick-dots button{
  font-size: 0px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #efefef;
  border: none;
  cursor: pointer;
}

.slick-active button{
  background: #FF9900;
}

.border-bottom{
  border-bottom: 1px solid rgba(188, 208, 229, 0.496913);
}

.footer {
  &__logo{
    margin-bottom: 33px;
  }
  &__links{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 95px;
  }
  &__left{
    margin-right: 130px;
  }
  &__right{
    margin-right: 83px;
  }
  &__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    a{
      color: #544837;
      text-decoration: none;
      transition: all .3s;
      &:hover{
        color: #FF9900;
      }
    }
  }
  &__contact-input{
    display: block;
    width: 330px;
    margin-bottom: 21px;
    padding: 11px 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    &::placeholder{
      color: #BCD0E5;
    }
  }
  &__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background: #FF9900;
    border-radius: 4px;
    padding: 7px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
  }
}